<header>
    <div class="container header-container">
        <div class="logo">
            <a href="home.html">
                <img src="../../public/images/youthrive-high-resolution-logo.png" alt="youTHrive Malta Logo">
            </a>
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="our-work.html">Our Work</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="training.html">Training & Resources</a></li>
                <li><a href="get-involved.html">Get Involved</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="mobile-menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header> 